<section class="of-container" style="padding:40px 0;color:#fff;">
  <h1>Minha conta</h1>
  <p>Olá, {{ customer.first_name }}.</p>
  <p><a class="btn btn--ghost" href="/account/logout">Sair</a></p>
</section>
